name: CI

on:
  push:
    branches:
      - main

jobs:
  get-client-version:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.version.outputs.changed }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set version
        id: version
        shell: bash
        working-directory: ./src
        env:
          TAG_PREFIX: client
        run: ../scripts/version.sh >> $GITHUB_OUTPUT
      - name: Get new version
        if: steps.version.outputs.changed == 'true'
        run: echo "The new version is ${{ steps.version.outputs.version }}"
      - name: Get current version
        if: steps.version.outputs.changed != 'true'
        run: echo "The current version is ${{ steps.version.outputs.version }}"
  build-client-image:
    runs-on: ubuntu-latest
    needs: get-client-version
    if: needs.get-client-version.outputs.changed == 'true'
    env:
      IMG: ${{ github.repository }}-client
    steps:
      - uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ./src
          push: true
          tags: ${{ env.IMG }}:${{ needs.get-client-version.outputs.version }},${{ env.IMG }}:latest
  local-ansible-deploy:
    runs-on: macos-12
    needs: build-client-image
    if: always() && needs.build-client-image.result != 'failure'
    steps:
      - uses: actions/checkout@v3

      - name: Cache Python requirements
        uses: actions/cache@v3
        with:
          path: ~/Library/Caches/pip
          key: 1-${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            1-${{ runner.os }}-pip-

      - name: Install Ansible
        run: pip3 install ansible==6.5.0

      - name: Whoami
        run: whoami

      - name: Show Ansible version
        run: ansible-playbook --version

      - name: Show Vagrant version
        run: vagrant --version

      - name: Run vagrant up
        run: vagrant up

      - name: Show SSH Config
        run: vagrant ssh-config

      - name: Deploy
        run: ansible-playbook playbooks/enable_root_login.yaml playbooks/new-ssh-user.yaml playbooks/ssh-hardening.yaml playbooks/update-packages.yaml playbooks/deploy-cluster.yaml